<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <h3>Add your New Product</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container row jumbotron">
            <div class="col-md-6">
                <div>
                    {{form.name.errors}}
                    <label for="{{form.name.id_for_label}}">Enter Name</label>
                    {{form.name}}
                </div>
                <div>
                    {{form.man_date.errors}}
                <label for="{{form.man_date.id_for_label}}">Enter DOM</label>
                {{form.man_date}}
                </div>
                <div>
                    {{form.price.errors}}
                <label for="{{form.price.id_for_label}}">Enter Price</label>
                {{form.price}}
                </div>
                
            </div>
            <div class="col-md-6">
                <div>
                    {{form.image.errors}}
                <label for="{{form.image.id_for_label}}">Upload Image</label>
                {{form.image}}
                </div>
                <div>
                    {{form.category.errors}}
                <label for="{{form.category.id_for_label}}">Enter Type</label>
                {{form.category}}
                </div>
                <div>
                    {{form.exp_date.errors}}
                <label for="{{form.exp_date.id_for_label}}">Enter DOE</label>
                {{form.exp_date}}
                </div>
            </div>
        </div>
        <button class="btn btn-warning btn-block">Add</button>
    </form>

  </body>
</html>